<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Capa.DS.BD.conexion" connectionString="Data Source=MARTINSOTOPC;Initial Catalog=IngenieriayServiciosIndustriales;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Capa.DS.BD.coneccion2" connectionString="Data Source=(localdb)\Servidor;Initial Catalog=proyecto;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>